## Print Functions

In [25]:
print("Hello Wolrd") ##Single String Print Function

Hello Wolrd

In [26]:
print("Hello World","Your Name","How are You") ##Multiple String

Hello World Your Name How are You

In [27]:
print("Hello Wolrd","How are you all","Welcome to Python",sep="\n") ##Print Fn with sepration between string

Hello Wolrd
How are you all
Welcome to Python

In [29]:
print("Hello Wolrd","How are you all","Welcome to Python",end="-->") ##Print Fn with ending at last line for string

Hello Wolrd How are you all Welcome to Python-->

## Variables

In [38]:
a=10; ##Decleartion of Variables

In [39]:
print(a) ##Printing a

10

In [40]:
b=["Your Name","Your Age","Your Work"] ##List type Variable

In [45]:
print(b[1]) ##Printing list with index 1

Your Age

In [46]:
c=("John",19,"Data Scientest") ##Tussle, Type of Variable to store multiple information but unchangable during runtime

In [47]:
print(c[1]) ##Printing tussle with index 1

19

In [48]:
d={"Name1":"John","Name2":"Becky","Name3":"Cliff"} ##Dictionary ,Type of Variable to store multiple info with seprate tags

In [59]:
print(d["Name2"]) ##Printing Specific Name1 from dictionary

Becky

## Control Flow

if Your logic:
    Statement
else:
    Statement:

In [181]:
name_val = input("Enter Name")
if name_val.lower() =="bilal":
    print ("Student")
else:
    print ("Teacher")

Enter NameBIlal
Student

In [66]:
Number=10;

In [67]:
if Number >10:
    print("Number is greater than 10")
else:
    print("Number not greater than 10")

Number not greater than 10

In [2]:
Number=20; ## *Value Changed*

In [3]:
if Number >10:
    print("Number is greater than 10")
else:
    print("Number not greater than 10")

Number is greater than 10

# String Class-->Method.

In [29]:
Country="pakistan"

In [30]:
Country.capitalize()

'Pakistan'

In [31]:
Country.upper()

'PAKISTAN'

In [32]:
Country.title()

'Pakistan'

In [33]:
Country.lower()

'pakistan'

In [42]:
Multiline="""
Bilal
20
NED-UET
"""

In [43]:
print(Multiline)

Bilal
20
NED-UET

In [86]:
Data='''
--PIAIC--
Saylani Welfer Trust
Name:{}
Father_Name:{}
Roll_Number:{}
'''

In [98]:
name=input("Your Name")
father_name=input("Your Father Name")
Roll_No=input("Your Roll_Number")
print(Data.format(name, father_name, Roll_No))

Your NameBilal
Your Father NameTahseen
Your Roll_Number123

--PIAIC--
Saylani Welfer Trust
Name:Bilal
Father_Name:Tahseen
Roll_Number:123

In [93]:
#Concatication

In [95]:
t='Bilal';p='Tahseen'

In [96]:
t+p

'BilalTahseen'

# Pemdas
{}-->ExP-->*-->/-->+-->-
+,-,*,/,%,// ,**#Simple Operators
=,+=,-=,*=,/=,%= #Assign Operators
==,>,<,>=,<=,!=,<> #Logical Operator
not and or is # Combine Logic Checking

# +,-,*,/,%,//,** #Simple Operators

In [103]:
15//4

3

In [104]:
15//4.0

3.0

In [105]:
2**3

8

In [106]:
2+6*8/5+(2*3)

17.6

# =,+=,-=,*=,/=,%= #Assign Operators

In [117]:
Country="Pakistan"

In [113]:
Country*2

'PakistanPakistan'

In [118]:
Country += "ZindaBad"

In [120]:
Country*=2

In [121]:
Country

'PakistanZindaBadPakistanZindaBad'

In [126]:
Num=15

In [127]:
Num %=4

In [128]:
Num

3

In [129]:
Num**3

27

#  ==,>,<,>=,<=,!=,<> #Logical Operator

In [133]:
5<2

False

In [134]:
5==3

False

In [135]:
5==5

True

In [136]:
5>3

True

In [137]:
5>5

False

In [138]:
5>=5

True

In [143]:
5 !=5

False

In [145]:
6<=6

True

## not and or is # Combine Logic Checking

In [148]:
5==5 and 6<=7 and 10>=9

True

In [149]:
5==5 and 6<=2 and 10>=9

False

In [150]:
5==5 or 6<=2 or 10>=9

True

In [159]:
b=10;n="A";k="B"

str(b)+n+k

In [164]:
str("1")+str("2")

'12'

In [167]:
int("1")+int("2") #type casting

3