## Print Functions

In [25]:
print("Hello Wolrd") ##Single String Print Function

Hello Wolrd

In [26]:
print("Hello World","Your Name","How are You") ##Multiple String

Hello World Your Name How are You

In [27]:
print("Hello Wolrd","How are you all","Welcome to Python",sep="\n") ##Print Fn with sepration between string

Hello Wolrd
How are you all
Welcome to Python

In [29]:
print("Hello Wolrd","How are you all","Welcome to Python",end="-->") ##Print Fn with ending at last line for string

Hello Wolrd How are you all Welcome to Python-->

## Variables

In [38]:
a=10; ##Decleartion of Variables

In [39]:
print(a) ##Printing a

10

In [40]:
b=["Your Name","Your Age","Your Work"] ##List type Variable

In [45]:
print(b[1]) ##Printing list with index 1

Your Age

In [46]:
c=("John",19,"Data Scientest") ##Tussle, Type of Variable to store multiple information but unchangable during runtime

In [47]:
print(c[1]) ##Printing tussle with index 1

19

In [48]:
d={"Name1":"John","Name2":"Becky","Name3":"Cliff"} ##Dictionary ,Type of Variable to store multiple info with seprate tags

In [59]:
print(d["Name2"]) ##Printing Specific Name1 from dictionary

Becky

## Control Flow

if Your logic:
    Statement
else:
    Statement:

In [181]:
name_val = input("Enter Name")
if name_val.lower() =="bilal":
    print ("Student")
else:
    print ("Teacher")

Enter NameBIlal
Student

In [66]:
Number=10;

In [67]:
if Number >10:
    print("Number is greater than 10")
else:
    print("Number not greater than 10")

Number not greater than 10

In [2]:
Number=20; ## *Value Changed*

In [3]:
if Number >10:
    print("Number is greater than 10")
else:
    print("Number not greater than 10")

Number is greater than 10

# String Class-->Method.

In [29]:
Country="pakistan"

In [30]:
Country.capitalize()

'Pakistan'

In [31]:
Country.upper()

'PAKISTAN'

In [32]:
Country.title()

'Pakistan'

In [33]:
Country.lower()

'pakistan'

In [42]:
Multiline="""
Bilal
20
NED-UET
"""

In [43]:
print(Multiline)

Bilal
20
NED-UET

In [86]:
Data='''
--PIAIC--
Saylani Welfer Trust
Name:{}
Father_Name:{}
Roll_Number:{}
'''

In [98]:
name=input("Your Name")
father_name=input("Your Father Name")
Roll_No=input("Your Roll_Number")
print(Data.format(name, father_name, Roll_No))

Your NameBilal
Your Father NameTahseen
Your Roll_Number123

--PIAIC--
Saylani Welfer Trust
Name:Bilal
Father_Name:Tahseen
Roll_Number:123

In [93]:
#Concatication

In [95]:
t='Bilal';p='Tahseen'

In [96]:
t+p

'BilalTahseen'

# Pemdas
{}-->ExP-->*-->/-->+-->-
+,-,*,/,%,// ,**#Simple Operators
=,+=,-=,*=,/=,%= #Assign Operators
==,>,<,>=,<=,!=,<> #Logical Operator
not and or is # Combine Logic Checking

# +,-,*,/,%,//,** #Simple Operators

In [103]:
15//4

3

In [104]:
15//4.0

3.0

In [105]:
2**3

8

In [106]:
2+6*8/5+(2*3)

17.6

# =,+=,-=,*=,/=,%= #Assign Operators

In [117]:
Country="Pakistan"

In [113]:
Country*2

'PakistanPakistan'

In [118]:
Country += "ZindaBad"

In [120]:
Country*=2

In [121]:
Country

'PakistanZindaBadPakistanZindaBad'

In [126]:
Num=15

In [127]:
Num %=4

In [128]:
Num

3

In [129]:
Num**3

27

#  ==,>,<,>=,<=,!=,<> #Logical Operator

In [133]:
5<2

False

In [134]:
5==3

False

In [135]:
5==5

True

In [136]:
5>3

True

In [137]:
5>5

False

In [138]:
5>=5

True

In [143]:
5 !=5

False

In [145]:
6<=6

True

## not and or is # Combine Logic Checking

In [148]:
5==5 and 6<=7 and 10>=9

True

In [149]:
5==5 and 6<=2 and 10>=9

False

In [150]:
5==5 or 6<=2 or 10>=9

True

In [159]:
b=10;n="A";k="B"

str(b)+n+k

In [164]:
str("1")+str("2")

'12'

In [167]:
int("1")+int("2") #type casting

3

## Pemdas Rule

In [3]:
(6 + 6) * (10 * 10) + (360 / 2) * 2 * 10 * (11 / 10) - (10 - 1) - (10 - 15) * 10 * 50 / 60 - 10

5182.666666666667

##  LIST

In [4]:
data=["A","B","C","D"]

In [5]:
data[2]

'C'

In [6]:
data[3]

'D'

In [7]:
data[1:3]

['B', 'C']

In [8]:
data[:4]

['A', 'B', 'C', 'D']

In [9]:
data[:3]

['A', 'B', 'C']

In [10]:
data.append("E")

In [11]:
data

['A', 'B', 'C', 'D', 'E']

In [12]:
data.append("F")

In [13]:
data

['A', 'B', 'C', 'D', 'E', 'F']

In [14]:
data.insert(0,"2")

In [15]:
data

['2', 'A', 'B', 'C', 'D', 'E', 'F']

In [16]:
data.insert(4,"3")

In [17]:
data

['2', 'A', 'B', 'C', '3', 'D', 'E', 'F']

In [18]:
data.insert(9,"4")

In [19]:
data

['2', 'A', 'B', 'C', '3', 'D', 'E', 'F', '4']

In [21]:
del data[2]

In [22]:
data

['2', 'A', 'C', '3', 'D', 'E', 'F', '4']

In [23]:
del data[0]

In [24]:
data

['A', 'C', '3', 'D', 'E', 'F', '4']

In [30]:
del data[2]

In [31]:
data

['A', 'C', 'D', 'E', 'F', '4']

In [35]:
data.remove("4")

In [36]:
data

['A', 'C', 'D', 'E', 'F']

In [37]:
data.pop(1)

'C'

In [38]:
data

['A', 'D', 'E', 'F']

In [40]:
data.pop(2)

'E'

In [41]:
data

['A', 'D', 'F']

In [1]:
l1=["Bilal",20,True,9.0]

In [2]:
dir(l1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [5]:
l1[-3]

20

In [6]:
l1[2]

True

In [7]:
len(l1)

4

In [18]:
l2 =[1,7,9,8,20,13,15]

In [14]:
l1[1]=100

In [15]:
l1

['Bilal', 100, True, 9.0]

In [24]:
sorted(l2,reverse=True) #Descending Order Reverse Argument,

[20, 15, 13, 9, 8, 7, 1]

In [31]:
l2.sort(reverse=True)

In [32]:
l2

[20, 15, 13, 9, 8, 7, 1]

In [37]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [62]:
l3 =list(range(65,91))

In [63]:
l3

[65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90]

In [67]:
for e in l3:
    print(chr(e))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [71]:
map(chr,l3)

In [77]:
l4=["Bilal","Ali"]

In [78]:
list(map(len,l4))

[5, 3]

# Home Task

In [72]:
list(map(chr,l3))

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [75]:
l1

['Bilal', 100, True, 9.0]

In [81]:
list(map(chr,range(48,58)))

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y']

In [83]:
list(map(chr,range(97,122)))

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y']

In [87]:
l6 = list (range(1,11))

In [88]:
l6

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [89]:
l6[0:5]

[1, 2, 3, 4, 5]

In [90]:
list(enumerate(l6))

[(0, 1),
 (1, 2),
 (2, 3),
 (3, 4),
 (4, 5),
 (5, 6),
 (6, 7),
 (7, 8),
 (8, 9),
 (9, 10)]

In [92]:
print(*l6,end=" ",sep="->")

1->2->3->4->5->6->7->8->9->10

In [128]:
a=5

In [113]:
l6[::2]

[1, 3, 5, 7, 9]

In [122]:
new_1 = l5[4::]

In [123]:
new_2 = l5[2::]

In [125]:
new_1

['E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y']

In [126]:
new_2

['C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y']

In [133]:
'Pakistan' if a == 5 else 'China'

'Pakistan'

In [38]:
mult=int(input("Enter Number You want to print table of"))
til=int(input("Enter Number You want to print table till"))
[ "{} X {} = {}".format(mult,x,x*mult) for x in range(til+1) ]

Enter Number You want to print table of4
Enter Number You want to print table till10

['4 X 0 = 0',
 '4 X 1 = 4',
 '4 X 2 = 8',
 '4 X 3 = 12',
 '4 X 4 = 16',
 '4 X 5 = 20',
 '4 X 6 = 24',
 '4 X 7 = 28',
 '4 X 8 = 32',
 '4 X 9 = 36',
 '4 X 10 = 40']